.board {
  text-align: center;
  background-color: #282c34;
  color: white;
  min-height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.row {
  display: flex;
  align-items: center;
  justify-content: center;
}

.column {
  display: flex;
  align-items: center;
  justify-content: center;
}

.node {
  border: solid 1px #61dafb;
  background-color: white;
  height: 3vh;
  width: 3vw;
}

.node:hover {
  background: #61dafb;
}
